export(mctp, mctp.rm, nparcomp, npar.t.test, npar.t.test.paired, gao, gao_cs)
import(multcomp,mvtnorm)
S3method(plot, mctp)
S3method(plot, mctp.rm)
S3method(plot, nparcomp)
S3method(plot, nparttest)
S3method(plot, nparttestpaired)
S3method(summary, mctp)
S3method(summary, mctp.rm)
S3method(summary, nparcomp)
S3method(summary, nparttest)
S3method(summary, nparttestpaired)
  importFrom("graphics", "abline", "axis", "box", "par", "plot",
             "points", "polygon", "title")
  importFrom("stats", "aggregate", "cov", "cov2cor", "model.frame",
             "p.adjust", "pnorm", "pt", "ptukey", "qnorm", "qt",
             "qtukey", "var")